.name{
    max-width: 300px;
    margin-left: 45%;
    margin-top: 20px;
    margin-bottom: 200px;
}
.in{
    max-width: 300px;
    margin-left: 45%;
    text-align: center;  
}
.loginForm {
    max-width: 300px;
    margin-left: 45%;  
    margin-top: 20px;
}

.components-form-demo-normal-login .login-form-forgot {
    float: right;
}
.components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
}
.components-form-demo-normal-login .login-form-button {
    width: 100%;
}