.name{
    max-width: 300px;
    margin-left: 42%;
    margin-top: 20px;
    margin-bottom: 200px;
}
.in{
    max-width: 300px;
    margin-left: 42%;
    text-align: center;  
}
.loginForm {
    max-width: 300px;
    margin-left: 42%;  
    margin-top: 20px;
}
.loginForm button{
    width: 300px;
}
.loginForm .loginForgot{
    float: right;
}
.reg{
    margin-bottom: 20px;
}