.name{
    max-width: 300px;
    margin-left: 45%;
    margin-top: 20px;
    margin-bottom: 200px;
}
.in{
    max-width: 300px;
    margin-left: 45%;
    text-align: center;  
}
.loginForm {
    max-width: 300px;
    margin-left: 45%;  
    margin-top: 20px;
}
